<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>회원 가입 페이지</h1>
    <!-- 유저가 입력할 공간 -->
     <form action="/signup2" method="post">
        <!-- 실제 유저가 입력하는 input 태그 사용 -->
         <div>
            <label>ID</label>
         <input type = 'text', name = 'user_id'>
         </div>
         <div>
            <label>Password</label>
         <input type = 'password', name = 'user_pass'>
         </div>
         <div>
            <label>Name</label>
         <input type = 'text', name = 'user_name'>
        </div>
        <div>
            <!-- 입력한 데이터를 제출하는 버튼 생성 -->
             <input type = "submit">
         </div>
     </form>
</body>
</html>